{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <title>Service</title>
    <style>
        .Net {
            background-image:linear-gradient(rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.239)),url("{% static 'New.jpg' %}");
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            height: 100vh;
            background-size: cover;
            color: antiquewhite;
         }
         .col-4{
            color: antiquewhite;
         }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{% static 'bullbeer.png' %}" alt="" height="30">
                Share Market
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Documentation">Documentation</a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/Service">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">About</a>
                    </li>
                </ul>
            </div>
            <button type="button" class="btn btn-outline-success me-md-2"><a href="/Signin"> Signin</a></button>
            <button type="button" class="btn btn-outline-danger"><a href="/Signup"> Signup</a></button>
        </div>
    </nav>
    <div class="Net">
        <div class="text-center mt-5">
            <p class="text-center" style="font-size: 38px;">What you'll Get</p>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <a style="font-size: 26px;
                margin-left: 108px;">
                        <i class="bi bi-cart"></i>
                        <span class="links_name">Buy & Sell</span>
                    </a>
                    <p style="margin-left: 141px;">You Can Buy&sell Shares of a particular company with ease.</p><br>
                    <a style="font-size: 26px;
                margin-left: 108px;">
                        <i class="bi bi-book"></i>
                        <span class="links_name">Blog</span>
                    </a>
                    <p style="margin-left: 141px;">You Can Refer A Blog How To Trade And How To Make Your Own
                        Strategies.</p><br>
                    <a style="font-size: 26px;
                margin-left: 108px;">
                        <i class="bi bi-newspaper"></i>
                        <span class="links_name">News</span>
                    </a>
                    <p style="margin-left: 141px;">In This Section You Will Find The latest News For The Paricular
                        Shares or Even Multiple Also.</p>
                </div>
                <div class="col-4">
                    <a style="font-size: 26px;
                margin-left: 55px;">
                        <i class="bi bi-bricks"></i>
                        <span class="links_name">Security</span>
                    </a>
                    <p style="margin-left: 85px;">We Go beyond And Ensure Your Data is Safe And Secure With You can Rest
                        Assured. </p><br>
                    <a style="font-size: 26px;
                margin-left: 55px;">
                        <i class="bi bi-wallet2"></i>
                        <span class="links_name">Transaction</span>
                    </a>
                    <p style="margin-left: 85px;">Your Transaction is Safe & Secure.We Make Sure Customer Do not Face
                        Any Problems. </p><br>
                    <a style="font-size: 26px;
                margin-left: 55px;">
                        <i class="bi bi-file-person-fill"></i>
                        <span class="links_name">24/7 Customer Service</span>
                    </a>
                    <p style="margin-left: 85px;">24/7 Customer Service will be available.</p>
                </div>
                <div class="col-4">
                    <a style="font-size: 26px;
                margin-left: 21px;">
                        <i class="bi bi-card-list"></i>
                        <span class="links_name">Watchlist</span>
                    </a>
                    <p style="margin-left: 56px;">You Can Maintain Your Own Watchlist And Can See Their Shares
                        Performance In The Market.</p><br>
                    <a style="font-size: 26px;
                margin-left: 21px;">
                        <i class="bi bi-file"></i>
                        <span class="links_name">Documentation</span>
                    </a>
                    <p style="margin-left: 56px;">The Document Will Provide The Guide And The Information About This The
                        Project.</p><br>
                    <a style="font-size: 26px;
                margin-left: 21px;">
                        <i class="bi bi-slack"></i>
                        <span class="links_name">Social Media</span>
                    </a>
                    <p class="text-start" style="margin-left: 56px;">To Get Our Latest and
                        Information News Get Connected To Our Social Media:</p>
                    <a style="margin-left: 54px;">
                        <i class="bi bi-facebook"></i>
                        <i class="bi bi-instagram"></i>
                        <i class="bi bi-github"></i>
                        <i class="bi bi-linkedin"></i>
                        <i class="bi bi-whatsapp"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>

</body>

</html>